// @import "*";

@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Vast+Shadow');
@import "font-awesome-sprockets";
@import "font-awesome";


 body {
   background-color: #122C56;
   font-family: 'Montserrat', sans-serif;
   color: lightblue;
   height: 100%;
 }


 #grad {
   background: #122C56; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(lightblue, #122C56); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightblue, #122C56); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightblue, #122C56); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightblue, #122C56); /* Standard syntax */
}
 .app {
  margin: 2% 7%
 }

 .hero-image {
     /* The image used */
     background-image: url("http://flightdeckbar.com/wp-content/uploads/2016/05/csc-beer-fine.jpg");

     /* Set a specific height */
     height: 50%;

     /* Position and center the image to scale nicely on all screens */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     margin-top: 65px;
     z-index: 0;
 }

 .hero-text {
   color: #122C56;
   font-family: 'Vast Shadow', cursive;
   font-size: 700%;
   font-variant: small-caps;
   text-align: center;
   opacity: 0.7;
  }

  hr {
    border-color: #FFB201;
  }

 .review-component {
   color: #FFB201;
  }

a {
  color: #FFB201;
}

a:visited {
  color: #EDEDED;
}

.tile {
  color: #7A7F82;
  border: 3px solid #FFB201;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-color: #ededed;
  height: 300px;
  width: 340px;
  margin: 5px;
  padding: 10px;
}

  .add-pub-form {
    border: solid;
    border-color: #FFB201;
    font-size: 30px;
    text-align: center;
    margin: 10px;
  }

  .index-container {
    margin: 25px;
    text-align: center;
  }

  // input[type=submit] {
  //   background-color: lightblue;
  //   // border: solid;
  //   // border-color: #FFB201;
  //   color: #122C56;
  //   text-decoration: none;
  //   margin: 6px 6px;
  //   cursor: pointer;
  //   font-size: 18px;
  // }

  .button {
    background-color: #FFB201;
    border: none;
    color: #122C56;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    width: 33%;
    margin: 10px;
    border-radius: 4px;
}
.button:hover {background-color: lightblue}

.button:active {
  background-color: lightblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.profile-photo {
  background-color: #FFB201;
  border: none;
  color: #122C56;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  width: 33%;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.profile-photo [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

  input[type=file] {
    // background-color: lightblue;
    // border: solid;
    // border-color: #FFB201;
    color: #122C56;
    text-decoration: none;
    margin: 4px;
    cursor: pointer;
    font-size: 18px;
  }

  input[type=text] {
    margin: 10px;
    width: 50%;
    font-size: 25px;
  }

  .field {
    width: 130%;
    margin: 10px;
    font-size: 25px;
  }
  .review-body {
    width: 50%;
    margin: 10px;
    height: 300px;
    font-size: 25px;
  }

.errors{
  color: red;

.required-fields textarea {
  width: 50%;
  height: 300px;
  font-size: 25px;
  margin: 10px;
}

.mugs {
  font-size: 25px;
  margin: 10px;
}

.voting a{
  color: #ededed
}
