// Place all the styles related to the brewpubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo {
  height: 175px;
  width: 175px;
  background-color: #122C56;
  border-radius: 50%;
  margin: 10px;
  border-style: solid;
  border-color: #FFB201;
}

.image {
  height: 500px;
  width: 500px;
  border-radius: 20%;
}

.hero {
  width: 100%;
  // height: 300px;
}

.wrapper {
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search{
  text-align: center;
  font-size: 25px;

}

.rating{
  font-family: 'Vast Shadow', cursive;
  text-align: center;
  font-size: 250%;
  background-color: lightblue;
  color: #122C56;
}

.review-form {
  font-size: 30px;
}

.name {
  text-decoration: underline;
  color: #7A7F82;
  font-size: 22px;
}

.info {
  display: inline-block;
  margin: 25px;
  text-align: left
}

.image-info{
  display: inline-block;
  text-align: center
}

.social {
  font-size: 50px;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
  margin: 10px;
}

i{
  color: #EDEDED;
}

i:hover {
  color: #FFB201;
}
