.topnav {
    background-color: #EDEDED;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #122C56;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightblue;
    color: #7A7F82;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: lightblue;
    color: #7A7F82;
}

.username {
  color: #7A7F82;
  float: right;
  margin: 20px;
}

.profile_pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px 20px;
  float: right;
}

.signin {
  color: #7A7F82;
  float: right;
}

.navigation {
  float: left;
}

input{
  width: 25%;
  height: 30px;
}

textarea{
  width: 25%;
  height: 50px;
}

input[type=text]:focus{
  border: 3px solid #7A7F82;
}

textarea:focus{
  border: 3px solid #7A7F82;
}
